.color_format_back{
    background-color:#d46832dd ;
}
.color_format_text{
    color: #d46832dd;
}
.nav-link{
    color: white !important;
    font-weight: bold;
}
.nav-item{
    margin-top: 10px;
}
.dropdown-menu{
    display: none;
}
.nav-item:hover .dropdown-menu{
    display: inline-block !important;
}
.footer_page_back{
    height: 500px;
    background-image: url('Images/w2.webp');
    background-size: 100% 100%;
    background-color: hsla(226, 100%, 47%, 0.7) !important;
	background-color: hsla();
}
.c1{
    color:#d46832dd ;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.c2{
    color:#4b89cd;
}
.c3{
    color:#d46832dd ;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    
}
.c4{
    height: 300px;
    width: 50%;
    border: 1px solid rgb(197, 192, 192);
    margin-top: 10px;
}
.c5{
    background-color: #d46832dd ;
    height: 50px;
    color: white;
    padding-left: 15px;
    padding-top: 8px;
    margin-left: -15px;
    margin-right: -15px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}
.c6{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.c7{
    width: 30%;
    padding: 5px 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.c8{
    width: 20%;
    padding: 5px 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.c9{
    height: 180px;
    width: 50%;
    border: 1px solid rgb(197, 192, 192);
    margin-top: 10px;
}
.c0{
    height: 100px;
    width: 100%;
    border: 1px solid rgb(197, 192, 192);
    margin-top: 10px;
}
.c11{
    height: 180px;
    width: 100%;
    border: 1px solid rgb(197, 192, 192);
    margin-top: 10px;
}
.c12{
    background-color: #d46832dd ;
    height: 50px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 5px;
}
.c13{
    width: 50%;
    margin-left: 60px;
    margin-top: 40px;
}
/* input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  } */